<h1> Superstore Sales Analysis and Data Visualization
<h3>Superstore is realworld fake dataset on sales and orders info, which is easy to solve and practice Python DS libraries such as (Pandas, Numpy and Pandasql)
<h4>Dataset Link - <a>https://hicounselor.com/projects/superstore-sales-analysis-data-visualisation</a>
<h3>The Jupyter Notebook includes EDA, Data Cleaning and solving few business case questions in both Pandas and SQL (utilizing Pandasql)<h4>(yes, I make my life harder :p - I want to practice both Pandas and SQL simultaneously and I found Pandasql as best option to check the results in same screen)
    
<h2>The Tableau Dashbaord link     <h4><a>https://public.tableau.com/app/profile/sreephani.devireddy/viz/SuperstoreSalesAnalysisDashbaord/SuperStoreSalesAnalysisDashboard</a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_org = pd.read_csv("superstore_final_dataset.csv")
df_org

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

<H1> EDA for Superstore Sales Dataset

In [3]:
df_org.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales'],
      dtype='object')

<h3>Changing DataTypes

In [4]:
df_org.dtypes

Row_ID             int64
Order_ID          object
Order_Date        object
Ship_Date         object
Ship_Mode         object
Customer_ID       object
Customer_Name     object
Segment           object
Country           object
City              object
State             object
Postal_Code      float64
Region            object
Product_ID        object
Category          object
Sub_Category      object
Product_Name      object
Sales            float64
dtype: object

In [5]:
df_org[["Order_Date", "Ship_Date"]]

      Order_Date   Ship_Date
0     08/11/2017  11/11/2017
1     08/11/2017  11/11/2017
2     12/06/2017  16/06/2017
3     11/10/2016  18/10/2016
4     11/10/2016  18/10/2016
...          ...         ...
9795  21/05/2017  28/05/2017
9796  12/01/2016  17/01/2016
9797  12/01/2016  17/01/2016
9798  12/01/2016  17/01/2016
9799  12/01/2016  17/01/2016

[9800 rows x 2 columns]

In [6]:
df_org["Order_Date"] = pd.to_datetime(df_org["Order_Date"])
df_org["Order_Date"] = df_org["Order_Date"].dt.strftime('%d-%m-%y')
df_org["Order_Date"] = pd.to_datetime(df_org["Order_Date"])


df_org["Ship_Date"] = pd.to_datetime(df_org["Ship_Date"])
df_org["Ship_Date"] = df_org["Ship_Date"].dt.strftime('%d-%m-%y')
df_org["Ship_Date"] = pd.to_datetime(df_org["Ship_Date"])

df_org.dtypes
df_org[["Order_Date", "Ship_Date"]]

     Order_Date  Ship_Date
0    2017-11-08 2017-11-11
1    2017-11-08 2017-11-11
2    2017-06-12 2017-06-16
3    2016-10-11 2016-10-18
4    2016-10-11 2016-10-18
...         ...        ...
9795 2017-05-21 2017-05-28
9796 2016-01-12 2016-01-17
9797 2016-01-12 2016-01-17
9798 2016-01-12 2016-01-17
9799 2016-01-12 2016-01-17

[9800 rows x 2 columns]

In [7]:
#changing Data types using Dictionary
change_type = ({'Postal_Code':str})
df_org = df_org.astype(change_type)
df_org.dtypes

Row_ID                    int64
Order_ID                 object
Order_Date       datetime64[ns]
Ship_Date        datetime64[ns]
Ship_Mode                object
Customer_ID              object
Customer_Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal_Code              object
Region                   object
Product_ID               object
Category                 object
Sub_Category             object
Product_Name             object
Sales                   float64
dtype: object

<h3>Handling Duplicates

In [8]:
#checking the duplicated rows except "ROW_ID"
duplicate = df_org[df_org.duplicated(subset=df_org.columns.difference(['Row_ID']))]
duplicate

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
3406,3407,US-2015-150119,2015-04-23,2015-04-27,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372

In [9]:
#dropping the duplicated rows except "ROW_ID"
df1 = df_org.drop_duplicates(subset=df_org.columns.difference(['Row_ID']))
df1

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

<h3> Handling NaN values

In [10]:
#checking number of null values in each column
df1.isnull().sum()

Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
dtype: int64

In [11]:
#creating a series of rows to check which contain NaN values and printing all columns 
postal_series = pd.isnull(df1["Postal_Code"])   #creating a series with a particular column 
df1[postal_series] #checking the above NaN series (with NaN postal codes) with the exsiting dataframe

Empty DataFrame
Columns: [Row_ID, Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, Country, City, State, Postal_Code, Region, Product_ID, Category, Sub_Category, Product_Name, Sales]
Index: []

In [12]:
#Now we can either drop or replace values in the above "Postal Code" column values.
#I choose to drop -- It depends on the direction of analysis you want to use

df2 = df1.dropna(axis=0, how="any")
df2

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [13]:
#Now checking for the NaN values for the df2
df2.isnull().sum()

Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
dtype: int64

In [14]:
df2

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

<h3> Checking Irrevelant Data

In [15]:
#remove any irrevalant values in the rows - can be done by checking unique values from each column 
column_values = df2['Region'].values   #can plugin each column or all columns at a time 
test = np.unique(column_values)
print(test)

#No irrevalant values are found

['Central' 'East' 'South' 'West']

<h3> Checking the condition - For each entry in dataset ship date >= order date)

In [16]:
#creating a new df
df_test = df2
df_test

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [17]:
#testing teh condition
df_test["test"] = df_test["Ship_Date"] >= df_test["Order_Date"]
df_test

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True

In [18]:
#checking unique values of newly created column to know if there are any "FALSE" values
column_values = df_test['test'].values   #can plugin each column or all columns at a time 
test1 = np.unique(column_values)
test1

array([ True])

<h3> Preparing to run SQL Queries using Pandas

<h5> we need "Pandsql", it allows you to query pandas DataFrames using SQL syntax

In [19]:
pip install pandasql

Requirement already satisfied: pandasql in /Users/sreephanireddy/opt/anaconda3/lib/python3.8/site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /Users/sreephanireddy/opt/anaconda3/lib/python3.8/site-packages (from pandasql) (1.4.7)
Requirement already satisfied: numpy in /Users/sreephanireddy/opt/anaconda3/lib/python3.8/site-packages (from pandasql) (1.20.1)
Requirement already satisfied: pandas in /Users/sreephanireddy/opt/anaconda3/lib/python3.8/site-packages (from pandasql) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/sreephanireddy/opt/anaconda3/lib/python3.8/site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/sreephanireddy/opt/anaconda3/lib/python3.8/site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/sreephanireddy/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/sreephanireddy/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy->pandasql) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
from pandasql import sqldf

In [21]:
!pip install -U pandasql

Collecting pandasql
  Using cached pandasql-0.7.3-py3-none-any.whl
Collecting sqlalchemy
  Using cached SQLAlchemy-2.0.19-cp310-cp310-macosx_10_9_x86_64.whl (2.0 MB)
Requirement already satisfied: numpy in /Users/sreephanireddy/miniconda3/lib/python3.10/site-packages (from pandasql) (1.25.2)
Collecting pandas
  Using cached pandas-2.0.3-cp310-cp310-macosx_10_9_x86_64.whl (11.8 MB)
Requirement already satisfied: pytz>=2020.1 in /Users/sreephanireddy/miniconda3/lib/python3.10/site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sreephanireddy/miniconda3/lib/python3.10/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/sreephanireddy/miniconda3/lib/python3.10/site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/sreephanireddy/miniconda3/lib/python3.10/site-packages (from sqlalchemy->pandasql) (4.7.1)
Collecting greenlet!=0.4.17
  Using cached greenlet-2.0.2.tar.gz (164 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six>=1.5 in /Users/sreephanireddy/miniconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: greenlet
  Building wheel for greenlet (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> [95 lines of output]
      running bdist_wheel
      running build
      running build_py
      creating build
      creating build/lib.macosx-10.9-x86_64-cpython-310
      creating build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/__init__.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      creating build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/__init__.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      creating build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_version.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_weakref.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_gc.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/leakcheck.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_generator.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_greenlet_trash.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_throw.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_tracing.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_cpp.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_contextvars.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_greenlet.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_extension_interface.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/__init__.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_generator_nested.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_stack_saved.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_leaks.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      running egg_info
      writing src/greenlet.egg-info/PKG-INFO
      writing dependency_links to src/greenlet.egg-info/dependency_links.txt
      writing requirements to src/greenlet.egg-info/requires.txt
      writing top-level names to src/greenlet.egg-info/top_level.txt
      reading manifest file 'src/greenlet.egg-info/SOURCES.txt'
      reading manifest template 'MANIFEST.in'
      warning: no previously-included files found matching 'benchmarks/*.json'
      no previously-included directories found matching 'docs/_build'
      warning: no files found matching '*.py' under directory 'appveyor'
      warning: no previously-included files matching '*.pyc' found anywhere in distribution
      warning: no previously-included files matching '*.pyd' found anywhere in distribution
      warning: no previously-included files matching '*.so' found anywhere in distribution
      warning: no previously-included files matching '.coverage' found anywhere in distribution
      adding license file 'LICENSE'
      adding license file 'LICENSE.PSF'
      adding license file 'AUTHORS'
      writing manifest file 'src/greenlet.egg-info/SOURCES.txt'
      copying src/greenlet/greenlet.cpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_allocator.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_compiler_compat.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_cpython_compat.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_exceptions.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_greenlet.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_internal.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_refs.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_slp_switch.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_thread_state.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_thread_state_dict_cleanup.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_thread_support.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/slp_platformselect.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/platform/setup_switch_x64_masm.cmd -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_aarch64_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_alpha_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_amd64_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm32_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm32_ios.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm64_masm.asm -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm64_masm.obj -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm64_msvc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_csky_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_m68k_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_mips_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc64_aix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc64_linux.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc_aix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc_linux.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc_macosx.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_riscv_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_s390_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_sparc_sun_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x32_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x64_masm.asm -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x64_masm.obj -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x64_msvc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x86_msvc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x86_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/tests/_test_extension.c -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/_test_extension_cpp.cpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      running build_ext
      building 'greenlet._greenlet' extension
      creating build/temp.macosx-10.9-x86_64-cpython-310
      creating build/temp.macosx-10.9-x86_64-cpython-310/src
      creating build/temp.macosx-10.9-x86_64-cpython-310/src/greenlet
      clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -fwrapv -O2 -Wall -fPIC -O2 -isystem /Users/sreephanireddy/miniconda3/include -fPIC -O2 -isystem /Users/sreephanireddy/miniconda3/include -I/Users/sreephanireddy/miniconda3/include/python3.10 -c src/greenlet/greenlet.cpp -o build/temp.macosx-10.9-x86_64-cpython-310/src/greenlet/greenlet.o --std=gnu++11
      xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun
      error: command '/usr/bin/clang' failed with exit code 1
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for greenlet
  Running setup.py clean for greenlet

Failed to build greenlet
Installing collected packages: greenlet, sqlalchemy, pandas, pandasql
  Running setup.py install for greenlet ... error
  error: subprocess-exited-with-error

  × Running setup.py install for greenlet did not run successfully.
  │ exit code: 1
  ╰─> [97 lines of output]
      running install
      /Users/sreephanireddy/miniconda3/lib/python3.10/site-packages/setuptools/command/install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
        warnings.warn(
      running build
      running build_py
      creating build
      creating build/lib.macosx-10.9-x86_64-cpython-310
      creating build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/__init__.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      creating build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/__init__.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      creating build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_version.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_weakref.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_gc.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/leakcheck.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_generator.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_greenlet_trash.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_throw.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_tracing.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_cpp.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_contextvars.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_greenlet.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_extension_interface.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/__init__.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_generator_nested.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_stack_saved.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/test_leaks.py -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      running egg_info
      writing src/greenlet.egg-info/PKG-INFO
      writing dependency_links to src/greenlet.egg-info/dependency_links.txt
      writing requirements to src/greenlet.egg-info/requires.txt
      writing top-level names to src/greenlet.egg-info/top_level.txt
      reading manifest file 'src/greenlet.egg-info/SOURCES.txt'
      reading manifest template 'MANIFEST.in'
      warning: no previously-included files found matching 'benchmarks/*.json'
      no previously-included directories found matching 'docs/_build'
      warning: no files found matching '*.py' under directory 'appveyor'
      warning: no previously-included files matching '*.pyc' found anywhere in distribution
      warning: no previously-included files matching '*.pyd' found anywhere in distribution
      warning: no previously-included files matching '*.so' found anywhere in distribution
      warning: no previously-included files matching '.coverage' found anywhere in distribution
      adding license file 'LICENSE'
      adding license file 'LICENSE.PSF'
      adding license file 'AUTHORS'
      writing manifest file 'src/greenlet.egg-info/SOURCES.txt'
      copying src/greenlet/greenlet.cpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_allocator.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_compiler_compat.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_cpython_compat.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_exceptions.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_greenlet.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_internal.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_refs.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_slp_switch.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_thread_state.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_thread_state_dict_cleanup.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/greenlet_thread_support.hpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/slp_platformselect.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet
      copying src/greenlet/platform/setup_switch_x64_masm.cmd -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_aarch64_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_alpha_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_amd64_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm32_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm32_ios.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm64_masm.asm -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm64_masm.obj -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_arm64_msvc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_csky_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_m68k_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_mips_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc64_aix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc64_linux.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc_aix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc_linux.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc_macosx.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_ppc_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_riscv_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_s390_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_sparc_sun_gcc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x32_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x64_masm.asm -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x64_masm.obj -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x64_msvc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x86_msvc.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/platform/switch_x86_unix.h -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/platform
      copying src/greenlet/tests/_test_extension.c -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      copying src/greenlet/tests/_test_extension_cpp.cpp -> build/lib.macosx-10.9-x86_64-cpython-310/greenlet/tests
      running build_ext
      building 'greenlet._greenlet' extension
      creating build/temp.macosx-10.9-x86_64-cpython-310
      creating build/temp.macosx-10.9-x86_64-cpython-310/src
      creating build/temp.macosx-10.9-x86_64-cpython-310/src/greenlet
      clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -fwrapv -O2 -Wall -fPIC -O2 -isystem /Users/sreephanireddy/miniconda3/include -fPIC -O2 -isystem /Users/sreephanireddy/miniconda3/include -I/Users/sreephanireddy/miniconda3/include/python3.10 -c src/greenlet/greenlet.cpp -o build/temp.macosx-10.9-x86_64-cpython-310/src/greenlet/greenlet.o --std=gnu++11
      xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun
      error: command '/usr/bin/clang' failed with exit code 1
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

× Encountered error while trying to install package.
╰─> greenlet

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

In [22]:
#checking if sqldf is working
print(sqldf(''' SELECT Order_Date, Ship_Date FROM df2 LIMIT 5 '''))

                   Order_Date                   Ship_Date
0  2017-11-08 00:00:00.000000  2017-11-11 00:00:00.000000
1  2017-11-08 00:00:00.000000  2017-11-11 00:00:00.000000
2  2017-06-12 00:00:00.000000  2017-06-16 00:00:00.000000
3  2016-10-11 00:00:00.000000  2016-10-18 00:00:00.000000
4  2016-10-11 00:00:00.000000  2016-10-18 00:00:00.000000

<h3>Question 1: What percentage of total orders were shipped on the same date?

In [23]:
#Using Pandasql

print(sqldf(''' SELECT COUNT(*) as total_orders,
                SUM(CASE WHEN Order_Date = Ship_Date then 1 else 0 END) AS shipped_same_date,
                cast(sum(case when Order_Date = Ship_Date then 1 else 0 END) as float(1,2)) / 
                cast(count(*) as float(1,2)) * cast(100 as float(1,2)) as perCE
                from df2
            '''))

   total_orders  shipped_same_date     perCE
0          9799                514  5.245433

In [24]:
#Using Pandas

#total = len(df2)  #method1
total = df2.Order_ID.count()  #method2

#result will be 514(rows) and shape[1] result is 19(columns)
shipped_same_date = df2[df2['Order_Date'] == df2['Ship_Date']].shape[0]  

percentage_shipped_same_date = (shipped_same_date / total) * 100

percentage_shipped_same_date

5.24543320747015

<h3> Question 2: Name top 3 customers with highest total value of orders.

In [25]:
#Using Pandasql

print(sqldf('''SELECT Customer_id, Customer_Name, sum(Sales)
               from df2
               group by Customer_ID, Customer_Name
               order by sum(sales) desc
               limit 3
            '''))

  Customer_ID Customer_Name  sum(Sales)
0    SM-20320   Sean Miller   25043.050
1    TC-20980  Tamara Chand   19052.218
2    RB-19360  Raymond Buch   15117.339

In [26]:
#Using Pandas

#nlargest() method returns a specified number of rows,starting at the top after 
#sorting DF by the highest value for a column
#dataframe.nlargest(n, columns, keep)

top = df2.groupby('Customer_Name')['Sales'].sum().nlargest(3)
top

Customer_Name
Sean Miller     25043.050
Tamara Chand    19052.218
Raymond Buch    15117.339
Name: Sales, dtype: float64

<h3>Question 3: Find the top 5 items with the highest average sales per day.

In [27]:
#Using Pandasql

print(sqldf('''SELECT Product_Name, sum(Sales)/count(distinct order_date) , Order_Date
               from df2
               group by Product_Name, Order_Date
               order by AVG(Sales) desc
               limit 5
               '''))

                                        Product_Name  \
0  Cisco TelePresence System EX90 Videoconferenci...
1              Canon imageCLASS 2200 Advanced Copier
2              Canon imageCLASS 2200 Advanced Copier
3              Canon imageCLASS 2200 Advanced Copier
4              Canon imageCLASS 2200 Advanced Copier

   sum(Sales)/count(distinct order_date)                  Order_Date
0                              22638.480  2015-03-18 00:00:00.000000
1                              17499.950  2017-10-02 00:00:00.000000
2                              13999.960  2018-03-23 00:00:00.000000
3                              11199.968  2018-10-22 00:00:00.000000
4                              10499.970  2018-11-17 00:00:00.000000

In [28]:
#Using Pandas

top5 = df2.groupby(['Product_Name','Order_Date'])['Sales'].mean().nlargest(5)
top5

Product_Name                                           Order_Date
Cisco TelePresence System EX90 Videoconferencing Unit  2015-03-18    22638.480
Canon imageCLASS 2200 Advanced Copier                  2017-10-02    17499.950
                                                       2018-03-23    13999.960
                                                       2018-10-22    11199.968
                                                       2018-11-17    10499.970
Name: Sales, dtype: float64

<h3> Question 4: Write a query to find the average order value for each customer, and rank the customers by their average order value.

In [29]:
#Using Pandasql
#SQL method 1

print(sqldf('''select Customer_ID, Customer_Name,
               cus_avg_order_value,
               RANK() OVER(ORDER BY cus_avg_order_value desc) as Customer_Rank
               from 
               (
               select Customer_ID, Customer_Name,
               avg(Sales) as cus_avg_order_value
               from df2
               group by Customer_ID, Customer_Name
               )
            '''))

    Customer_ID     Customer_Name  cus_avg_order_value  Customer_Rank
0      MW-18235  Mitch Willingham          1751.292000              1
1      SM-20320       Sean Miller          1669.536667              2
2      TC-20980      Tamara Chand          1587.684833              3
3      GT-14635    Grant Thornton          1558.535333              4
4      TA-21385      Tom Ashbrook          1459.562000              5
..          ...               ...                  ...            ...
788    SG-20890    Susan Gilcrest             9.589200            789
789    MG-18205   Mitch Gastineau             8.369500            790
790    RS-19870        Roy Skaria             7.442667            791
791    LD-16855      Lela Donovan             5.304000            792
792    TS-21085     Thais Sissman             2.416500            793

[793 rows x 4 columns]

In [30]:
#Using Pandasql
#SQL method 2

print(sqldf('''select Customer_ID, Customer_Name,
               avg(sales) as cus_avg_order_value,
               RANK() OVER(ORDER BY avg(sales) desc) as Customer_Rank
               from df2
               group by Customer_ID, Customer_Name
            '''))

    Customer_ID     Customer_Name  cus_avg_order_value  Customer_Rank
0      MW-18235  Mitch Willingham          1751.292000              1
1      SM-20320       Sean Miller          1669.536667              2
2      TC-20980      Tamara Chand          1587.684833              3
3      GT-14635    Grant Thornton          1558.535333              4
4      TA-21385      Tom Ashbrook          1459.562000              5
..          ...               ...                  ...            ...
788    SG-20890    Susan Gilcrest             9.589200            789
789    MG-18205   Mitch Gastineau             8.369500            790
790    RS-19870        Roy Skaria             7.442667            791
791    LD-16855      Lela Donovan             5.304000            792
792    TS-21085     Thais Sissman             2.416500            793

[793 rows x 4 columns]

In [31]:
#Using Pandas

avg_value = df2.groupby(['Customer_ID', 'Customer_Name'])['Sales'].mean().sort_values(ascending=False).rank(ascending=False, method='min')
avg_value

Customer_ID  Customer_Name
MW-18235     Mitch Willingham      1.0
SM-20320     Sean Miller           2.0
TC-20980     Tamara Chand          3.0
GT-14635     Grant Thornton        4.0
TA-21385     Tom Ashbrook          5.0
                                 ...
SG-20890     Susan Gilcrest      789.0
MG-18205     Mitch Gastineau     790.0
RS-19870     Roy Skaria          791.0
LD-16855     Lela Donovan        792.0
TS-21085     Thais Sissman       793.0
Name: Sales, Length: 793, dtype: float64

<h3>Question 5: Give the name of customers who ordered highest and lowest orders from each city.

In [32]:
#Using Pandasql

print(sqldf('''With max_value as(
               Select customer_name as high_value_customer,
               city,
               max(Sales) as high_order_value
               from df2
               group by City),
               
               min_value as(
               Select customer_name as low_value_customer,
               city,
               min(Sales) as low_order_value
               from df2
               group by City)
               
               select high_value_customer, high_order_value, low_value_customer, low_order_value, max_value.city
               from max_value
               inner join
               min_value
               on max_value.city = min_value.city

'''))

    high_value_customer  high_order_value low_value_customer  low_order_value  \
0       Jeremy Lonsdale            25.500    Jeremy Lonsdale           25.500
1           Dennis Kane             1.392        Dennis Kane            1.392
2            Ed Braxton           665.408         Karl Braun            2.286
3     Michelle Lonsdale           595.000    Susan Vittorini            4.280
4          Greg Maxwell          4164.050    Shirley Daniels           12.420
..                  ...               ...                ...              ...
524         Andy Reiter            52.960          Don Jones           45.360
525       Karen Daniels          4899.930        Nathan Cano           10.896
526       Theresa Swint           422.058        Noah Childs           37.896
527       Odella Nelson            50.800      Odella Nelson           50.800
528         Gary Hansen           599.985       Dario Medina           10.496

            city
0       Aberdeen
1        Abilene
2          Akron
3    Albuquerque
4     Alexandria
..           ...
524   Woonsocket
525      Yonkers
526         York
527      Yucaipa
528         Yuma

[529 rows x 5 columns]

In [33]:
df2['City'].unique().shape[0]

529

In [34]:
#Using Pandas

high_low_orders = df2.groupby(['City'])['Sales'].agg([max,min])

#Merging with the original df to get the corresponding customer names
result = df2.merge(high_low_orders, on='City')

#Filter rows with the maximum and minimum order values for each city
highest_customers = result[result['Sales'] == result['max']]
lowest_customers = result[result['Sales'] == result['min']]

# Select the columns containing customer names and order values for the highest and lowest orders
highest_customers = highest_customers[['City', 'Customer_Name', 'max']]
lowest_customers = lowest_customers[['City', 'Customer_Name', 'min']]

# Rename the columns to indicate the highest and lowest order values
#highest_customers.rename(columns={'max': 'high_order_value'}, inplace=True)
#lowest_customers.rename(columns={'min': 'low_order_value'}, inplace=True)

# Merge both DataFrames on 'City' to combine the information
result = highest_customers.merge(lowest_customers, on='City', suffixes=('_HighOrder','_LowOrder')).sort_values('City')
result

,City,Customer_Name_HighOrder,max,Customer_Name_LowOrder,min
520,Aberdeen,Jeremy Lonsdale,25.500,Jeremy Lonsdale,25.500
488,Abilene,Dennis Kane,1.392,Dennis Kane,1.392
59,Akron,Ed Braxton,665.408,Karl Braun,2.286
305,Albuquerque,Michelle Lonsdale,595.000,Susan Vittorini,4.280
166,Alexandria,Greg Maxwell,4164.050,Shirley Daniels,12.420
...,...,...,...,...,...
383,Woonsocket,Andy Reiter,52.960,Don Jones,45.360
181,Yonkers,Karen Daniels,4899.930,Nathan Cano,10.896
283,York,Theresa Swint,422.058,Noah Childs,37.896
358,Yucaipa,Odella Nelson,50.800,Odella Nelson,50.800
420,Yuma,Gary Hansen,599.985,Dario Medina,10.496

<h3>Question 6: What is the most demanded sub-category in the west region?

In [35]:
#Using pandasql

print(sqldf('''SELECT Sub_Category, sum(Sales) as total_sales
               from df2
               where Region = 'West'
               group by Sub_Category
               order by sum(Sales) desc
               limit 1
            '''))

  Sub_Category  total_sales
0       Chairs     100023.2

In [36]:
#Using Pandas

#first filter out "west" region and then group by sub_Cat
sub_cat = df2[df2['Region'] == 'West'].groupby('Sub_Category')['Sales'].sum().nlargest(1)
sub_cat

Sub_Category
Chairs    100023.2
Name: Sales, dtype: float64

<h3>Question 7: Which order has the highest number of items? And which order has the highest cumulative value?

In [37]:
#Using Pandasql

print(sqldf('''select Order_ID, count(Product_ID) as num_items
               from df2
               group by Order_ID
               order by num_items desc
               limit 1
            '''))

print(sqldf('''select Order_ID,
               sum(Sales) over(order by Order_ID desc) as cum_sum
               from df2 
               limit 1
              
            '''))

         Order_ID  num_items
0  CA-2018-100111         14
         Order_ID   cum_sum
0  US-2018-169551  1344.838

In [38]:
#Using Pandas

high_num_items = df2.groupby('Order_ID')['Product_ID'].count().nlargest(1)
high_num_items

Order_ID
CA-2018-100111    14
Name: Product_ID, dtype: int64

In [39]:
# Calculate the cumulative sum of "Sales"
df2['cumulative_value'] = df2['Sales'].cumsum()

# Find the index of the maximum cumulative value
max_cumulative_index = df2['cumulative_value'].idxmax()
max_cumulative_index

# Get the order with the highest cumulative value
order_with_highest_cumulative_value = df2.loc[max_cumulative_index, 'Order_ID']

order_with_highest_cumulative_value



#the result is different from the above pandsql method, I tried so many ways but couldn't achieve any :(
#You are free to try, if you get the answer yayy:) do let me know

'CA-2016-128608'

<h3>Question 8: Which segment’s order is more likely to be shipped via first class?

In [40]:
#Using Pandasql

print(sqldf('''Select Segment, Ship_Mode, count(Order_ID) as num_items
               from df2
               where Ship_Mode = "First Class"
               group by Segment, Ship_mode
               Order by num_items desc
            '''))
#So, the Consumer goods are mostly likely to be shipped via First Class

       Segment    Ship_Mode  num_items
0     Consumer  First Class        755
1    Corporate  First Class        468
2  Home Office  First Class        278

In [41]:
#Using Pandas

seg_firstclass = df2[df2['Ship_Mode'] == 'First Class'].groupby(['Segment','Ship_Mode'])['Order_ID'].count()
seg_firstclass

Segment      Ship_Mode
Consumer     First Class    755
Corporate    First Class    468
Home Office  First Class    278
Name: Order_ID, dtype: int64

<h3>Question 9: Which city is least contributing to total revenue?

In [42]:
#Using Pandasql

print(sqldf('''Select City, sum(Sales) as Total_Sales
               from df2
               group by City
               Order by Total_Sales asc
               limit 1
            '''))

      City  Total_Sales
0  Abilene        1.392

In [54]:
#Using Pandas

city_leastRevenue = df2.groupby(['City'])['Sales'].sum().sort_values(ascending = True).min()
city_leastRevenue

1.392

<h3>Question 10: What is the average time for orders to get shipped after order is placed?

In [56]:
#For this ques - as time column is not present, I am considering Order_Date and Ship_Date

#below is one way - before i know about datetime day object :(
df2['Time_Shipped'] = df2['Ship_Date'] - df2['Order_Date']
df2['Time_Shipped'] = df2['Time_Shipped'].astype(str)
df2['Time_Shipped'] = df2['Time_Shipped'].str.slice(0,1)
df2['Time_Shipped'] = df2['Time_Shipped'].astype(int)

df2.to_csv('superstore_sales_dataset.csv',index='false')   #saving the dataset to create dashbaord

#another easy way
#import datetime as dt
#df2['Time_Shipped'] = (df2['Ship_Date'] - df2['Order_Date']).dt.days

#Using Pandasql

print(sqldf('''SELECT cast(avg(Time_Shipped) as int(1,0)) as avg_time_to_ship
               from df2
            '''))

   avg_time_to_ship
0                 3

In [45]:
#Using Pandas

avg_time_to_ship = df2['Time_Shipped'].mean()
avg_time_to_ship = int(avg_time_to_ship)
avg_time_to_ship

3

<h3>Question 11: Which segment places the highest number of orders from each state and which segment places the largest individual orders from each state?

In [46]:
#Using Pandasql

#Which segment places the highest number of orders from each state
print(sqldf('''SELECT State, Segment, num_orders 
               from
               (
               SELECT State,Segment,
               count(Order_ID) as num_orders,
               row_number() over(partition by State order by count(Order_ID) desc) as rank_num
               from df2
               group by State, Segment
               )
               where rank_num=1
            '''))

                   State      Segment  num_orders
0                Alabama    Corporate          28
1                Arizona     Consumer         109
2               Arkansas     Consumer          37
3             California     Consumer        1020
4               Colorado     Consumer          92
5            Connecticut     Consumer          43
6               Delaware     Consumer          49
7   District of Columbia     Consumer           7
8                Florida     Consumer         179
9                Georgia     Consumer          82
10                 Idaho    Corporate           9
11              Illinois     Consumer         267
12               Indiana     Consumer          72
13                  Iowa    Corporate          10
14                Kansas  Home Office           8
15              Kentucky     Consumer          76
16             Louisiana     Consumer          25
17                 Maine    Corporate           5
18              Maryland     Consumer          46
19         Massachusetts     Consumer          58
20              Michigan     Consumer         130
21             Minnesota     Consumer          51
22           Mississippi     Consumer          28
23              Missouri     Consumer          38
24               Montana  Home Office           9
25              Nebraska     Consumer          19
26                Nevada     Consumer          18
27         New Hampshire  Home Office          12
28            New Jersey     Consumer          50
29            New Mexico     Consumer          15
30              New York     Consumer         632
31        North Carolina     Consumer         140
32          North Dakota     Consumer           5
33                  Ohio     Consumer         252
34              Oklahoma     Consumer          35
35                Oregon     Consumer          65
36          Pennsylvania     Consumer         281
37          Rhode Island    Corporate          21
38        South Carolina     Consumer          22
39          South Dakota    Corporate          10
40             Tennessee     Consumer         100
41                 Texas     Consumer         516
42                  Utah     Consumer          31
43               Vermont    Corporate           5
44              Virginia     Consumer         117
45            Washington     Consumer         275
46         West Virginia  Home Office           3
47             Wisconsin    Corporate          42
48               Wyoming  Home Office           1

In [47]:
#Using Pandasql

#which segment places the largest individual orders from each state
print(sqldf('''SELECT State, Segment, Order_ID, Sales
                FROM (
                  SELECT
                    State,
                    Segment,
                    Order_ID,
                    Sales,
                    ROW_NUMBER() OVER (PARTITION BY State ORDER BY Sales DESC) AS rank_num
                  FROM
                    df2
                ) 
                WHERE rank_num = 1
            '''))

                   State      Segment        Order_ID      Sales
0                Alabama    Corporate  CA-2017-133711   3040.000
1                Arizona     Consumer  US-2016-128090   1879.960
2               Arkansas     Consumer  CA-2015-152268   1793.980
3             California     Consumer  CA-2015-143917   8187.650
4               Colorado  Home Office  CA-2018-134845   2549.985
5            Connecticut    Corporate  US-2015-117968   1133.350
6               Delaware     Consumer  CA-2018-166709  10499.970
7   District of Columbia     Consumer  CA-2016-124450   1379.920
8                Florida  Home Office  CA-2015-145317  22638.480
9                Georgia     Consumer  CA-2016-145352   6354.950
10                 Idaho    Corporate  CA-2017-116911   1128.390
11              Illinois    Corporate  US-2016-100377   2799.960
12               Indiana    Corporate  CA-2017-118689  17499.950
13                  Iowa  Home Office  CA-2016-153381   1408.100
14                Kansas    Corporate  CA-2018-102155    360.380
15              Kentucky     Consumer  CA-2016-102491   3080.000
16             Louisiana     Consumer  CA-2018-158729   1665.620
17                 Maine    Corporate  CA-2017-164091    437.850
18              Maryland     Consumer  CA-2016-162782   2541.980
19         Massachusetts    Corporate  CA-2015-141313   1737.180
20              Michigan     Consumer  CA-2017-117121   9892.740
21             Minnesota     Consumer  CA-2015-116904   9449.950
22           Mississippi     Consumer  CA-2017-104157   2430.080
23              Missouri    Corporate  US-2016-128587   4899.930
24               Montana  Home Office  CA-2018-127432   2999.950
25              Nebraska     Consumer  CA-2018-160885   2479.960
26                Nevada  Home Office  CA-2017-138478   4535.976
27         New Hampshire  Home Office  US-2016-134558   2249.910
28            New Jersey    Corporate  US-2017-107440   9099.930
29            New Mexico     Consumer  CA-2016-123141    883.840
30              New York  Home Office  CA-2018-127180  11199.968
31        North Carolina    Corporate  US-2018-168116   7999.980
32          North Dakota     Consumer  CA-2018-111332    704.760
33                  Ohio     Consumer  CA-2017-108196   4499.985
34              Oklahoma     Consumer  CA-2018-119452   1805.880
35                Oregon     Consumer  CA-2015-125731   1487.040
36          Pennsylvania     Consumer  CA-2017-143714   8399.976
37          Rhode Island  Home Office  US-2017-140158   5399.910
38        South Carolina     Consumer  CA-2016-158421   1690.040
39          South Dakota    Corporate  CA-2018-122035    416.320
40             Tennessee  Home Office  US-2018-162558   2314.116
41                 Texas     Consumer  CA-2015-139892   8159.952
42                  Utah  Home Office  CA-2017-139997   1499.950
43               Vermont    Corporate  CA-2016-117086   4404.900
44              Virginia     Consumer  CA-2017-158841   8749.950
45            Washington     Consumer  CA-2018-140151  13999.960
46         West Virginia     Consumer  CA-2018-130505    673.344
47             Wisconsin     Consumer  CA-2015-120474   2807.840
48               Wyoming  Home Office  CA-2017-152247   1603.136

<h3>Question 12: Find all the customers who individually ordered on 3 consecutive days where each day’s total order was more than 50 in value.

In [48]:
#Using Pandasql
#method1
print(sqldf('''SELECT distinct
               
                a.Customer_ID, a.Customer_Name, a.Order_Date
                from df2 as a 
                inner join
                df2 as b on a.Customer_ID = b.Customer_ID and a.Order_Date = date(b.Order_Date, '+1 day')
                inner join
                df2 as c on b.Customer_ID = c.Customer_ID and a.Order_Date = date(c.Order_Date, '+2 day') 
                where 
               a.Sales>10 and b.Sales>10 and c.Sales>10
'''))

Empty DataFrame
Columns: [Customer_ID, Customer_Name, Order_Date]
Index: []

In [49]:
#Using Pandasql
#method2
print(sqldf('''select Customer_ID, Customer_Name, Order_Date, Sales
                from(
                select Customer_ID, Customer_Name, Order_Date,Sales,
               lag(Order_Date, 1) over(partition by Customer_ID order by Order_Date) as pre_order_date,
               lead(Order_Date, 1) over(partition by Customer_ID order by Order_Date) as next_order_date
               from df2
               )
               where 
               Order_Date = Date(pre_order_date, '+1 day') and
               Order_Date = Date(next_order_date, '-1 day') and
               Sales>10
               group by Customer_ID, Customer_Name, Order_Date
'''))

Empty DataFrame
Columns: [Customer_ID, Customer_Name, Order_Date, Sales]
Index: []

In [50]:
#Using Pandasql
#method3
print(sqldf('''WITH CustomerDailyOrders AS (
  SELECT
    Customer_ID,
    Customer_Name,
    Order_Date,
    SUM(Sales) AS Total_Order_Value
  FROM
    df2
  GROUP BY
    Customer_ID,
    Customer_Name,
    Order_Date
)
SELECT DISTINCT
  a.Customer_ID,
  a.Customer_Name,
  a.Order_Date
FROM
  CustomerDailyOrders a
INNER JOIN
  CustomerDailyOrders b ON a.Customer_ID = b.Customer_ID AND a.Order_Date = DATE(b.Order_Date, '+1 day')
INNER JOIN
  CustomerDailyOrders c ON a.Customer_ID = c.Customer_ID AND a.Order_Date = DATE(c.Order_Date, '+2 day')
WHERE
  a.Total_Order_Value > 10
  AND b.Total_Order_Value > 10
  AND c.Total_Order_Value > 10
'''))

Empty DataFrame
Columns: [Customer_ID, Customer_Name, Order_Date]
Index: []

In [51]:
#tried so many methods, and the result is empty. Can be referred that the dataset doesnot have rows that satisfies the condition

<h3> Question 13: Find the maximum number of days for which total sales on each day kept rising.

In [52]:
#Using Pandasql

print(sqldf('''SELECT MAX(Days) AS Maximum_Consecutive_Days
FROM (
  SELECT
    a.Order_Date,
    COUNT(*) AS Days
  FROM
    df2 a
  JOIN
    df2 b ON a.Order_Date <= b.Order_Date
  GROUP BY
    a.Order_Date
  HAVING
    SUM(b.Sales) - SUM(a.Sales) = a.Sales
) AS ConsecutiveDays
'''))

  Maximum_Consecutive_Days
0                     None